.header {
    margin-top: 60px;
}
.header-titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora',serif;
    color: #444;
}
.header-img {
    width: 100%;
    opacity: .8;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}
.header-title-sm {
    position: absolute;
    top:18%;
    font-size: 20px;
    z-index: 10;
}

.header-title-lg { 
    position: absolute;
    top:20%;
    font-size: 100px;
    z-index: 10;

}